:root{
    --azul-claro:#248ccc;
    --azul-escuro:#0438ac;
}
html, body{
    height: 100vh;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-family: sans-serif;
    font-size: 16px;
    color: white;
}
header{
    width: 100vw;
    height: 50px;
}




main{
    width: 1200px;
    height: 800px;
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-template-columns: 1fr  3fr;
    grid-template-areas: "logo logo"
    "esquerda direita";
}


/* container do primeiro row na main onde fica a logo*/
.logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 400px;
}


/*containers da esquerda e direita ocupando a primeira e a segunda coluna do segundo row da main*/
.esquerda{
    grid-area: esquerda;
}
.direita{
    grid-area: direita;
}



footer{
    width: 100vw;
    height: 60px;
}

/* Cores do back-ground */
.azul-claro{
    background-color: var(--azul-claro);
}
.azul-escuro{
    background-color: var(--azul-escuro);
}
.gradiente{
    background-image: linear-gradient(to right, var(--azul-claro), var(--azul-escuro));
}